@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-drawing10:before {
	content: "\e000";
}
.flaticon-dslr:before {
	content: "\e001";
}
.flaticon-palette5:before {
	content: "\e002";
}
.flaticon-screen52:before {
	content: "\e003";
}
.flaticon-video71:before {
	content: "\e004";
}
